<div>
  <table id="table">
    <tr>
      <th *ngFor="let col of colOrder" id="th-{{col}}" 
        [width]="colWidths[col]" (mousedown)="startDragging(col, $event)">
        {{ headers[col] }}
        <div id="res-{{col}}" class="resizer" 
          (mousedown)="startResizing(col, $event)"></div>
      </th>
    </tr>

    <tr *ngFor="let row of data">
      <td *ngFor="let col of colOrder" id="td-{{col}}" [width]="colWidths[col]">
        {{ row[col] }}
      </td>
    </tr>
  </table>
  <!--<tt-fake-column></tt-fake-column>-->
</div>