<div>
  <table id="table">
    <tr>
      <th *ngFor="let col of colOrder" id="th-{{col}}" 
        [width]="colWidths[col]" (mousedown)="startDragging(col, $event)">
        <div *ngIf="col!=dragging">{{ headers[col] }}</div>
        <div id="res-{{col}}" class="resizer" 
          (mousedown)="startResizing(col, $event)"></div>
      </th>
    </tr>

    <tr *ngFor="let row of data">
      <td *ngFor="let col of colOrder" id="td-{{col}}" [width]="colWidths[col]">
        <div *ngIf="col!=dragging">{{ row[col] }}</div>
      </td>
    </tr>
  </table>
  <tt-fake-column id="fk-col" [header]="fakeHeader" [data]="fakeData" [width]="fakeWidth"></tt-fake-column>
</div>